// @import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
// @import url(https://unpkg.com/nes.css/css/nes.css);
@import url('https://fonts.googleapis.com/css?family=Arimo');
@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');

@import './nav';
@import './flex';
@import './buttons.scss';
@import './box.scss';
@import './table.scss';
@import './pages/login.scss';
@import './charts/pie.scss';
@import './modals.scss';

%margin-top {
    margin-top: 20px;
}

%margin-bottom {
    margin-bottom: 20px;
}

%standard-spacing {
    margin: 0 16px;
}

%budget-inputs {
    max-width: 80%;
    font-size: 14px;
}

%budget-labels {
    font-size: 12px;
}

* {
    font-family: 'Arimo'
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none !important;
}

.positive {
    color: #92CC41;
}

.negative {
    color: #E76E55
}

.lg-font {
    font-size: 32px;
}




.header {
    @extend %margin-top;
    @extend %margin-bottom;
    color: #C94C0C;
}



.login {
    margin: 20px;
    align-self: flex-end;
}

#bills {
    input {
        @extend %budget-inputs
    };

    label {
        @extend %budget-labels
    }
}

#otherExpenses {
    input {
        @extend %budget-inputs;
    };

    label {
        @extend %budget-labels
    }
}

#income {
    input {
        @extend %budget-inputs
    };

    label {
        @extend %budget-labels
    }
}

.lists {
    margin: 0 32px;
}

.margin-bottom {
    @extend %margin-bottom
}

.margin-top {
    @extend %margin-top
}

.top-right {
    position: absolute;
    right: 200px;
    top: 100px;

    i {
        margin-right: 16px;
    }
}

.absolute {
    position: relative;
    width: 100%;
    
}

.space {
    @extend %standard-spacing
}

.vdp-datepicker__calendar {

    color: #283636;
}

.vdp-datepicker {
    .no-input {
        display: none;
    }
}